.llamada  {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #FFFFFF;
    text-align: center;
    
    background-color: #00161C;

    padding-bottom: 2.5rem;
}

.llamada__titulo {
    margin-top: 2.5rem;
    font-family: var(--Montserrat);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 5%;
    
    
}

.llamada__texto {
    font-size: 1.0rem;
    line-height: normal;
    margin: 0 auto 2.5rem;
    margin: 1.5rem;
}

.llamada__boton {
    width: 100%;
    color: var(--boton-rojo);
}


/*========MEDIA QUERIES (MEDIUM DEVICES)========*/
@media screen and (min-width: 700px) {
    .llamada {
        background-image: url(../img/bg-intro.jpg);
        background-size: cover;
        padding-top: 8.25rem;
    }
   
    .llamada__texto {
        font-size: 1.0rem;
        line-height: normal;
    
        margin: 1.5rem auto 2.5rem;
    }
}

/*========MEDIA QUERIES (SMALL DEVICES)========*/
@media screen and (min-width: 350px) {
    .llamada {
        background-image: url(../img/bg-intro.jpg);
        background-size: cover;
        padding-top: 8.25rem;
    }
    .llamada__titulo{
        font-size: 1.2rem;
    }
}
